body {
  background: #111;
  background: -moz-radial-gradient(center, ellipse cover, #555 0%, #111 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #555 0%, #111 100%);
  background: radial-gradient(ellipse at center, #555 0%, #111 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@colorB', endColorstr='@colorA', GradientType=1);
}
body * {
  color: #eee !important;
  font-family: "Muli" !important;
  font-size: 20px !important;
}
body pre,
body code,
body pre *,
body code * {
  font-family: 'Courier New', Courier, monospace !important;
  font-size: 16px !important;
}
body h3 {
  font-size: 35px !important;
  font-weight: bold !important;
  text-shadow: none !important;
  text-transform: none !important;
}
body h2 {
  font-size: 40px !important;
  font-weight: bold !important;
  text-shadow: none !important;
  text-transform: none !important;
}
body h1 {
  font-size: 45px !important;
  font-weight: bold !important;
  text-shadow: none !important;
  text-transform: none !important;
}
body ul li {
  margin-bottom: 20px !important;
}
body a {
  color: #f03e88 !important;
  transition: color .5s;
}
body a:hover {
  color: #c9177e !important;
}
body aside.controls .left {
  border-right-color: #f03e88 !important;
}
body aside.controls .up {
  border-bottom-color: #4294ca !important;
}
body aside.controls .right {
  border-left-color: #48ba91 !important;
}
body aside.controls .down {
  border-top-color: #ebb951 !important;
}
body img,
body img:hover {
  border: none !important;
  background: none !important;
  box-shadow: none !important;
}
section .footerSection {
  display: block;
  width: 100%;
  position: absolute !important;
  bottom: 0 !important;
  z-index: 10;
}
section .footerSection img {
  margin: 5px;
  width: 30px;
}
section h1.h,
section h2.h,
section h3.h {
  color: #f03e88 !important;
}
section h1.u,
section h2.u,
section h3.u {
  color: #4294ca !important;
}
section h1.g,
section h2.g,
section h3.g {
  color: #48ba91 !important;
}
section h1.o,
section h2.o,
section h3.o {
  color: #ebb951 !important;
}
